body{
	line-height: 1.2em;
	font-family: Arial;
	font-size: 16px;
	color: blue;
}

form{
	margin: 0 auto;
	width: 90%;
}

div{
  float: left;
	clear: both;
	padding: 10px 0;
}

fieldset{
	padding: 20px;
}

#email{
	padding: 20px;
}

#submit{
	margin: 10px 0;
}

@media only screen and (min-width: 480px){
	body{
		font-size: 1.618em;
		color: pink;
	}
}

@media only screen and (min-width: 992px){
	body{
		font-size: 2.618em;
		color: green;
	}
}