body{
	line-height: 1.2em;
	font-family: Arial;
	font-size: 16px;
}

form{
	margin: 0 auto;
	width: 90%;
}

div{
  float: left;
	padding: 10px 0;
}

fieldset{
	padding: 20px;
}


#submit{
	margin: 10px 0;
}

@media only screen and (min-width: 480px){
	
}

@media only screen and (min-width: 992px){
	
}